@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav-container{
    height: 100px;
    background-color: var(--bgcolor);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    z-index: 100;
}
.nav-container h2{
    font-size: 36px;
    margin-left: 25px;
    font-weight: 600;
}
.nav-link-container{
    display: flex;
    justify-content: space-between;
    width: 550px;
    font-size: 22px;
    margin-right: 25px;
}
.nav-link-container .icon{
    display: none;
}
.nav-link-container a{
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: var(--nav-font);
    margin-right: 25px;
}
.nav-link-container .active {
    color: var(--nav-highlight);
}
.product-drop-down{
    display: var(--drop);
    flex-direction: column;
    position: absolute;
    border: 2px solid bisque;
    box-shadow: 0 0 5px bisque;
    background-color: white;
    width: 15rem;
    margin-left: -20px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
}
.product-drop-down a{
    color: black;
    height: 3rem;
    border-bottom: 2px solid bisque;
    width: 100%;
}
.product-nav-items-container a{
    display: none;
}

@media (max-width:952px) {
    .nav-container{
        position: fixed;
        bottom: 0px;
        height: 75px;
        margin: 0;
        width: 100vw;
    }
    .nav-container h2{
        display: none;
    }
    .nav-link-container{
        justify-content: space-between;
        gap: 0;
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0;
    }
    .nav-item{
       display: var(--hide-except-product);
    }
    .nav-link-container a{
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        margin-top: -15px;
        width: 100%;
        height: 100%;
    }
    .nav-link-container .icon{
        display: inline-block;
        font-size: 24px;
    }
    .nav-link-container a div{
        position: absolute;
        margin-top: 35px;
        font-size: 12px;
        /* display: none; */
    }
    .product-drop-down{
        display: none;
    }
    .product-nav-items-container{
        display: flex;
    }
    .product-nav-items{
        /* background-color: red; */
        width: 150px;
        height: 75px;
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    .product-nav-items a{
        scroll-snap-align: start;
        position: relative;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        margin-top: 10px;
        width: 150px;
        height: 80%;
    }
    .product-nav-other a{
        position: relative;
        /* flex-shrink: 0; */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        margin-top: 10px;
    }
    .nav-back{
        position: absolute;
        right: 25px;
        margin-top: 5px;
    }
    .nav-back a div{
        font-size: 12px;
        margin-top: 40px;
    }
    .nav-arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .nav-arrow-right{
        border-left: 2px solid #ffffff80;
    }
    .nav-arrow-left{
        border-right: 2px solid #ffffff80;
    }

}