
#about{
    background-color: #f0f6ef;
    padding-top: 100px;
}
#about  h4{
    font-size: 1.5rem;
}
.about-nav{
    height: 2rem;
    width: 100%;
    background-color: bisque;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: .25rem;
    margin-bottom: .5rem;
}
.about-container{
    display: flex;
    gap: 20px;
    font-size: small;
    font-weight: 490;
    line-height: 1.25rem;
}
.about-container h5{
    font-size: medium;
    font-weight: 500;
}
.about-container p{
    margin-bottom: 30px;
}
.about-left{
    width: min(70vw, 900px);
    padding: 2rem 5rem;
    text-align: justify;
}
.table-head{
    font-weight: 600;
}
#about-table{
    border-collapse: collapse;
    width: 100%;
}
#about-table td, #about-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

.about-right{
    padding-top: 1.5rem;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about-right h4{
    border-bottom: 3px solid bisque ;
    margin-bottom: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.about-right p{
    margin-bottom: 1rem;
}
.about-product-list{
    display: var(--product-show);
}
.about-contact-list{
    display: var(--contact-show);
}
#about-product-plus{
    display: var(--product-plus);
}
#about-product-minus{
    display: var(--product-minus);
}
#about-contact-plus{
    display: var(--contact-plus);
}
#about-contact-minus{
    display: var(--contact-minus);
}

@media (max-width:952px) {
    #about{
        padding-top: 0px;
    }
    .about-container{
        display: flex;
        flex-direction: column;
    }
    .about-left, .about-right{
        width: min(100vw, 900px);
        padding: 2rem 3rem;
        text-align: justify;
    }
    .about-right{
        margin-bottom: 50px;
    }
}