
.about-container{
    background-color: #FFE4B5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.about-container h4{
    font-weight: 600;
}
.about-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0 200px;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-container h6{
    text-align: center;
    font-size: 26px;
    font-weight: 400;
}
.topic-bar{
    margin: 5px 0;
    height: 3px;
    width: 100%;
    background-color: #BDB76B;
}
.card-container p{
    width: 300px;
    text-align: justify;
}

@media (max-width:952px) {
    .about-cards{
        padding: 0 10%;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .card-container{
        width: 80vw;
    }
    .card-container p{
        width: 80vw;
    }
}