.slider-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    overflow: hidden;
    /* scroll-snap-type: x mandatory; */
    scroll-behavior: smooth;
    width: 100vw;
}

.slider img {
    flex: 1 0 100%;
    object-fit: cover;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    scroll-snap-align: start;
    height: 450px;
    aspect-ratio: 16/9;
    width: 100%;
}

.slider-nav {
    display: flex;
    height: 2px;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    margin-left: 2rem;
    z-index: 1;
}

.slider-nav a {
    width: 8rem;
    height: 0.3rem;
    border-radius: 5px;
    background-color: #ffffff;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
    transform: scale(1.1);
}
#home{
    padding-top: 100px;
}

.home-product-container {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.home-product-container h2 {
    margin-top: 100px;
    font-weight: 600;
}

.home-product-container h2 span {
    color: #A1662F;
}

.image-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding: 100px 100px;
    justify-content: center;
}

.image-card-div {
    display: flex;
    height: 170px;
    width: 170px;
    box-shadow: 20px 20px 0px -10px #A1662F,
        -20px -20px 0 -10px #A1662F;
    border-top-right-radius: 0;

}

.image-card-div img {
    height: inherit;
    width: inherit;
    border-top-right-radius: inherit;

}

.image-card-btn {
    display: none;
}

.image-card-layer {
    height: inherit;
    width: inherit;
    border-top-right-radius: inherit;
    z-index: 100;
    position: absolute;
}

.image-card-btn {
    position: absolute;
}

.image-card-btn span {
    border: 5px solid #996515;
    padding: 5px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: #16C5B780;
    cursor: pointer;
}

.image-card-layer:hover+.image-card-btn {
    display: flex;
    height: inherit;
    width: inherit;
    border-top-right-radius: inherit;
    background: #A1662F90;
    justify-content: center;
    align-items: center;
}

.image-card-div h6 {
    position: absolute;
    margin-top: 13rem;
    width: 180px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.image-card-layer:hover~h6 {
    color: #A1662F;
}

.home-about-container {
    width: 100vw;
    height: 100vh;
    background-color: #D1D1D1;
    display: flex;
    justify-content: center;
}

.home-about-container .main-container {
    margin-top: 100px;
    height: 400px;
    width: 700px;
    display: flex;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: -10px 0 15px 5px #8C6A5D;
}

.home-about-container .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 50px 50px;
    text-align: justify;
}

.home-about-container .text-container h3 {
    margin-bottom: 50px;
    margin-left: -100px;
}

.home-about-container .image-container {
    margin-left: -2rem;
    position: absolute;
    display: flex;
    align-items: center;
    height: 400px;
    margin-left: 40rem;
}

.home-about-container .image-container .image-frame {
    height: 350px;
    width: 250px;
    background-color: white;
    border-top: 1rem solid #00000080;
    border-left: 1rem solid #00000098;
    border-bottom: 1rem solid #00000080;
    border-right: 1rem solid #00000098;
    padding: 5px;
}

.home-about-container .image-container .image-frame img {
    height: 310px;
    width: 210px;
    overflow: hidden;
}

.home-about-read-more {
    color: #996515;
    font-weight: 500;
    text-decoration: none;
}

.home-about-read-more:hover {
    scale: 1.1;
}

.glimpse-container {
    background-color: #DCDCDC;
    font-weight: 600;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.glimpse-container span {
    color: #996515;
}

.glimpse-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    gap: 20px;
}

.glimpse-card-holder {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    font-size: 14px;
}

.glimpse-card-holder:hover {
    background-color: #99651590;
}

.glimpse-card-holder span {
    background-color: #D5D5D5;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

.glimpse-card-holder h6 {
    font-size: 12px;
    font-weight: bold;
}

.goal-container {
    margin: 100px auto;
    gap: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.goal-cardholder {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.goal-cardholder .goal-topic {
    width: 100%;
    border-bottom: 3px solid #996515;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.goal-topic span {
    color: #996515;
}

.home-contact-container {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    overflow-x: hidden;
}

.home-contact-container h2 {
    margin-bottom: 50px;
}

.home-contact-container span {
    font-weight: 600;
    color: #996515;
}

.home-contact-main-div {
    padding: 30px;
    display: flex;
    gap: 10px;
}

.home-contact-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    text-align: justify;
    justify-content: center;
}

.home-contact-left a {
    text-decoration: none;
    color: black;
}

.home-contact-left>div>span {
    margin-right: 10px;
    font-size: 22px;
    margin-top: 20px;
}



.fa-mobile {
    font-size: 450px;
    color: #8C6A5D;
}

.home-contact-form {
    background-color: #ffffff80;
    height: 340px;
    width: 260px;
    border-radius: 2rem;
    position: absolute;
    z-index: 3;
    margin-top: -26.56rem;
    margin-left: calc(1.6rem + 13px);
}

.home-contact-form .home-input-container {
    background-color: #00000090;
    height: 340px;
    width: 260px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 10px;
}

.home-input-div {
    scroll-snap-align: start;
    height: 340px;
    width: 260px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e09f3e;
}
.home-input-div input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #e09f3e;
    color: #e09f3e;
}
.home-input-div input:focus{
    outline: none;
    border-bottom: 5px solid #e09f3e;
}
.home-input-div textarea{
    background-color: transparent;
    border: 0;
    border-top: 2px solid #e09f3e;
    border-bottom: 2px solid #e09f3e;
    color: #e09f3e;
    width: 200px;
    height: 150px;
}
.home-input-div button{
    background-color: #e09f3e;
    border: none;
    color: #00000090;
    font-weight: 600;
}
.home-input-div button:hover{
    box-shadow: 0 0 5px #e09f3e;
}
.home-input-div textarea:focus{
    outline: none;
    border-top: 3.5px solid #e09f3e;
    border-bottom: 3.5px solid #e09f3e;
}
.home-input-div div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home-contact-nav {
    display: flex;
    gap: 25px;
    height: 1.8rem;
    width: 5.29rem;
    border-radius: 1.3rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.9rem;
    margin-left: 5.5rem;
    background-color: #00000099;
}

.home-contact-nav>div>a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.home-product-dropdown {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
}

select {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #e09f3e;
}

select option {
    background: #00000090;
    border-bottom: 2px solid #e09f3e;
    color: white;
    cursor: pointer;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

.home-product-dropdown {
    color: #e09f3e;
    display: flex;
    gap: 10px;
}

@media (max-width: 952px) {
    #home{
        padding-top: 0px;
    }
    .carousel-container {
        aspect-ratio: 16/9;
    }

    .slider-nav a {
        width: .5rem;
        height: 0.3rem;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: .75;
        transition: opacity ease 250ms;
    }

    .slider-nav a:hover {
        opacity: 1;
        transform: scale(1.1);
    }

    .home-about-container {
        height: max-content;
    }

    .home-about-container .main-container {
        display: flex;
        flex-direction: column;
        width: calc(100vw - 40px);
        height: max-content;
        margin-top: 12rem;
        margin-bottom: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .home-about-container .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 30px;
        text-align: justify;
    }


    .main-container .text-container h3 {
        margin-left: 0;
        text-align: center;
        margin-top: 8rem;
    }

    .home-about-container .image-container {
        margin-left: 5rem;
        margin-top: -6rem;
        position: absolute;
        display: flex;
        align-items: center;
        height: 200px;

    }

    .home-about-container .image-container .image-frame {
        height: 250px;
        width: 175px;
        background-color: white;
        border-top: 1rem solid #00000080;
        border-left: 1rem solid #00000098;
        border-bottom: 1rem solid #00000080;
        border-right: 1rem solid #00000098;
        padding: 5px;
    }

    .home-about-container .image-container .image-frame img {
        height: 230px;
        width: 150px;
        overflow: hidden;
    }
    .home-contact-main-div {
        padding: 5px;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .fa-mobile {
        font-size: 450px;
        color: #8C6A5D;
    }

}