.cardContainer{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #0000ff, #3388ff);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}