:root {
    --light: #ededed;
    --primary: #0ef;
    --bg: #081B29;
    --headerbg: #051129;
    --bshadow: #0ef5;
    --dark: #000000;
    --iptbackground: #555557;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@keyframes rotate {
    50% {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--light);
}
/* -----------------------------------navbar----------------------------------- */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: var(--headerbg);
}

.logo {
    position: relative;
    font-size: 25px;
    color: var(--light);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: var(--light);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    animation: slideBottom .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    opacity: 0;
}

.navbar a:hover {
    color: var(--primary);
}

@media (max-width: 952px) {
    .navbar a {
        display: none;
    } 
    .container{
        width: 90vw;
        margin: 0 10px;
    }
}

/* -------------------------home--------------------------------- */

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    background: var(--bg);
    color: var(--light);
    display: flex;
    align-items: center;
    padding: 70px;
}

.home-content {
    width: 700px;
    animation: slideTop 1s ease forwards;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    animation: slideRight 1s 1s ease forwards;
    opacity: 0;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    animation: slideLeft 1s 1s ease forwards;
    opacity: 0;
}

.home-content p {
    font-weight: 24px;
    animation: slideLeft 1s 1s ease forwards;
    opacity: 0;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    background: transparent;
    text-decoration: none;
    color: var(--primary);
    font-size: 22px;
    margin: 30px 15px 30px 0px;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    opacity: 0;
}

.home-sci a:hover {
    background: var(--primary);
    color: var(--bg);
    box-shadow: 0 0 20px var(--primary);
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: var(--primary);
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 0.75px;
    color: var(--bg);
    text-decoration: none;
    font-weight: 700;
}

.btn-box:hover {
    box-shadow: 0 0 5px var(--primary), 0 0 30px var(--primary);
}

.typewriter {
    color: var(--primary);
}
@media (max-width: 952px) {
    .home{
        flex-direction: column;
        gap: 100px;
        margin-top: 30px;
    }
    .home-content{
        width: 80vw;
        text-align: center;
    }
}
/* -------------------------about--------------------------------- */

.about {
    display: grid;
    grid-template-columns: 0.8fr 1.4fr;
    align-items: center;
}

.about-img img {
    padding-bottom: 20%;
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 100px;
}

.about-text h2 {
    font-size: 60px;
}

.about-text span {
    color: var(--primary);
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
   padding-right: 50px;
   text-align: justify;
   text-justify: inter-word;
}

@media (max-width:1550px) {
    .about-img img {
        padding-bottom: 20%;
        height: auto;
        max-width: 400px;
        width: 100%;
        border-radius: 8px;
        margin-left: 50px;
    }
}
@media (max-width:1259px) {
    .about-img img {
        padding-bottom: 20%;
        height: auto;
        max-width: 300px;
        width: 100%;
        border-radius: 8px;
        margin-left: 50px;
    }
}
@media (max-width:1010px) {
    .about-img img {
        display: none;
    }
    .about{
        display: flex;
        margin : 0px 50px;
        text-align: center;
    }
    .about-text p{
        padding: 0 5px;
    }
}
/* -------------------------Skills--------------------------------- */

.service {
    font-size: 20px;
    line-height: 1.4;
}

.container {
    padding: 90px;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: var(--primary);
}

.service i {
    color: var(--primary);
    font-size: 50px;
    margin-bottom: 30px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service-list .item {
    background: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 10px;
    box-shadow: 5px 5px 40px var(--bshadow);
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
}

.service-list div h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.service-list div:hover {
    transform: translateY(-10px);
}

.progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
}

.progress-line span {
    height: 100%;
    background-color: var(--primary);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s ease forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line p{
    margin-bottom: -25px;
    background-color: var(--dark);
    display: inline;
    padding: 5px;
    border-radius: 8px;
    line-height: 40px;
    font-weight: 500;
}

@media (max-width:952px) {
    .service-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item{
        min-width: 250px;
    }   
}

/* -------------------------Portfolio--------------------------------- */
.main-text {
    padding-top: 130px;
    margin-top: 2rem;
}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 100px;
}

.main-text h2 span {
    color: var(--primary);
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, auto));
    justify-items: center;

}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    width: 80%;
}

.row img {
    width: 100%;
    border: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(#00000001, var(--primary));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: var(--dark);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: var(--dark);
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: var(--light);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

/* -------------------------contact--------------------------------- */

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
    margin-bottom: 100px;
}

.contact-text span {
    color: var(--primary);
}

.contact-text h4 {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-text i {
    color: var(--primary);
    font-size: 24px;
    margin-right: 5px;
}

.contact-list {
    margin-bottom: 200px;
}

.contact-list li {
    display: block;
}
.contact-list li a{
    text-decoration: none;
    color: var(--light);
}
.contact-form form {
    position: relative;
}

.contact-form form .input {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: var(--iptbackground);
    color: var(--dark);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;

}

.contact-form form .send :hover {
    box-shadow: 0 0 5px var(--primary), 0 0 25px var(--primary);
}

.send {
    display: inline-block;
    width: 90%;
    background: var(--primary);
    border: none;
    outline: none;
    height: 59px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
}

.contact-form .send:hover {
    box-shadow: 0 0 5px var(--primary), 0 0 25px var(--primary);
}
@media (max-width:952px) {
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .contact-text{
        height: 450px;
    }
    .contact-text h2{
        font-size: 60px;
    }
}

/* -------------------------Footer--------------------------------- */
.last-text {
    background-color: var(--headerbg);
    width: 100vw;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

.last-text a {
    text-decoration: none;
    color: var(--primary);
    font-size: 24px;
}

/* -------------------------Image--------------------------------- */
.image-container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-div img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    padding: 30px
}
svg {
    height: 500px;
    width: 500px;
    animation: rotate 5s infinite linear forwards, appear 2s ease-out forwards;
    animation-delay: 3s;
    position: absolute;
    opacity: 0;
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

circle {
    stroke-width: 4px;
    fill: transparent;
}
#circle1 {
    stroke: var(--primary);
    stroke-dasharray: 35.5, 284;
    stroke-dashoffset: -159.75;
}

#circle2 {
    stroke: var(--primary);
    stroke-dasharray: 35.5, 284;
    stroke-dashoffset: -88.75;
}

#circle3 {
    stroke: var(--primary);
    stroke-dasharray: 35.5, 284;
    stroke-dashoffset: -17.75;
}

#circle4 {
    stroke: var(--primary);
    stroke-dasharray: 35.5, 284;
    stroke-dashoffset: -230.75;
}

@media (max-width:952px) {
    svg{
        height: 350px;
        width: 350px;
    }
    .image-div img{
        height: 365px;
        width: 365px;
    }
    .image-container{
        flex-direction: column-reverse;
        height: 400px;
        width: 400px;
    }
}
/* -------------------------end--------------------------------- */

