
:root{
    --bgcolor: #800000;
    --font-color : white;
    --nav-highlight: #eab76a;
    --nav-font : #fdf5e6;
    --primary-color : red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes drop-down{
    100%{
        opacity: 1;
        scale: 1 1;
    }
}

@keyframes pop-side {
    100%{
        opacity: 1;
        scale: 1 1;
    }
    
}
